extends layout.pug

block content
  - for (var i in messages)
    div.flash() #{messages[i]}

  md-container(layout='row')
    div(hide-xs, layout-margin, layout-padding, flex='40')
      img.iphone(src='iphone.png')
    md-container(layout='column', layout-align='center center', flex='60' flex-xs='100')
      div
        h1.sig_subt(layout-align='center center') Conoce tu huella
      section(layout='column', layout-align='center center')
        a(href='/auth/facebook')
          md-button.md-raised.md-primary
            i.fa.fa-facebook-official.fa-lg
            |  Iniciar con facebook
        a(href='/oauth/google')
          md-button.md-raised.md-primary.boton-box
            i.fa.fa-google-plus.fa-lg(aria-hidden='true')
            |  Iniciar con Google
      section.input-box(layout='column')
        form(action='/signup', method='post' layout='column')
          md-input-container
            label Email
            md-icon.name(md-svg-src='img/mail.svg')
            input(type='text', name='email')
          md-input-container
            label Nombre
            md-icon.name(md-svg-src='img/face.svg')
            input(type='text', name='firstName')
          md-input-container
            label Apellido
            md-icon.name(md-svg-src='img/face.svg')
            input(type='text', name='lastName')
          md-input-container
            label Username
            md-icon.name(md-svg-src='img/face.svg')
            input(type='text', name='username')
          md-input-container
            label Password
            md-icon.name(md-svg-src='img/code.svg')
            input(type='password', name='password')
          md-button(type='submit')
            i.fa.fa-paper-plane(aria-hidden='true')
            |   Regístrate
          section
            .login-box
              | ¿Tienes una cuenta? 
              a(href='/') Entrar