h2 { color: #009688; }

hr {
  margin-top: 30px;
}
.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #AB47BC;
}
.tool {
  margin-top: 22px;
}
.md-avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: 20px;
}

.iphone {
  max-width: 80%;
}

.logo {
  width: 180px;
  margin: 9px;
}
.huella-boton{
  border: solid 1px white;
}
.login-box {
  margin-top: 30px;
}
.input-box {
  margin-top: 40px;
}
.boton-box {
  margin-top: 20px;
}

.arboles-card {
  font-size: 44px;
  margin-top: 10px;
}

.ecojornadas { 
  text-align: right; 
}

.EcoDesafio-card {
  border: 1px solid #009688;
  border-radius: 10px;
}

.campanas-content {background: #009688;}

.compensa-container { text-align: center; }


.usuario-compensa { 
  margin-right: 10px;
  text-align: center;
 }

.compensa-nombre { 
  margin: 0px;
}

.compensa-ico { 
  margin: 2px; 
  color: #009688;
}

.leaftlet-container { margin: 0px; border: solid red 1px; }

.jaguar {
  width: 300px;
}
.hogar {
  max-width: 100%;
}
.icon_mdtoolbar {
  margin-top: 16px;
}
footer { 
  background:  #009688;
  margin: 0px;
  color: white;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

