<section ng-controller="calculoController" >
<div>
  <toolbar></toolbar>
</div>
<h2 class="titulo_resultado">Resultado ::</h2>
<div>
	<section layout="row" layout-align="center center">
		<div>
			<img class="avatar" src="{{article.providerData.picture}}" alt="avatar">
		</div>
		<div layout-margin>
			<h2 class="md-palette">Gracias {{article.firstName}}</h2>
			<p >total de puntos:: {{total2()}}</p>
		</div>
	</section>
	
	<div ng-if="status" id="status">
		<b layout="row" layout-align="center center" class="md-padding">
			{{status}}
		</b>
	</div>
	
	<form name="calculoForm">
		<p layout-align="center center" class="label">Debes Sembrar {{total()}} árboles este año.</p>
	</form>
	<section layout="row">
		<md-button class="md-accent md-raised" ng-click="showAdvanced($event)" flex="30"><i class="fa fa-paper-plane" aria-hidden="true"></i> Guardar</md-button>
		<div flex></div>
		<md-button class="md-accent md-raised" ng-click="inicio()" flex="20"><i class="fa fa-home" aria-hidden="true"></i> inicio</md-button>
	</section>
</div>
</section>
<div>
  <footer></footer>
</div>