<section ng-controller="consumoController" ng-init="findOne()">
<div>
  <toolbar></toolbar>
</div>
<div layout="column" ng-cloak >

  <md-content layout-padding >
	<h1>Consumo</h1>

    <div layout="row">
      <div hide-xs flex>
				<img class="hogar" src="consumo.png" alt="">
			</div>
      <div layout-padding flex>
        <form name="consumoForm">
          <div layout-gt-sm="column">
            <md-input-container class="md-block" flex-gt-sm>
              <label>¿Cómo es tu alimentación?</label>
              <md-select ng-model="article.p4" required md-no-asterisk name="alimentacion">
                <md-option value="1">Vegana</md-option>
                <md-option value="2">Vegetariana</md-option>
                <md-option value="3">Omnivora</md-option>
              </md-select>
              <div ng-messages="consumoForm.alimentacion.$error">
                <div ng-message="required">Es Requerido.</div>
            </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>¿Con que frecuencia compras ropa?</label>
              <md-select ng-model="article.p5" required md-no-asterisk name="ropa">
                <md-option value="3">Cada 6 meses</md-option>
                <md-option value="2">Cada año</md-option>
                <md-option value="1">Cada dos años o más</md-option>
              </md-select>
              <div ng-messages="consumoForm.ropa.$error">
                <div ng-message="required">Es Requerido.</div>
            </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>¿En que tipo de vivienda habitas?</label>
              <md-select ng-model="article.p6" required md-no-asterisk name="vivienda">
                <md-option  value="1">Ecológicas (barro, madera)</md-option>
                <md-option  value="2">Tendinoso, Prefafricada</md-option>
                <md-option  value="3">Ladrillo y Cemento</md-option>
              </md-select>
              <div ng-messages="consumoForm.vivienda.$error">
                <div ng-message="required">Es Requerido.</div>
            </div>
            </md-input-container>
          
          </div>
          
        </form>
        <md-button class="md-primary md-hue-1"  ng-disabled="consumoForm.$invalid" ng-click="update()">siguiente</md-button>
      </div>
    </div>
  </md-content>
</div>
</section>
<div>
  <footer></footer>
</div>