<md-content>
    <md-tabs md-dynamic-height md-border-bottom>

      <md-tab label="Captura CO2">
        <md-content class="md-padding">
          <h2><i class="material-icons">&#xE2BD;</i> Captura de CO2</h2>
          <chart></chart>
          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Captura de CO2 ::</span>
                <span class="md-subhead">Nombre Compañia</span>
                <span class="arboles-card"><i class="fa fa-car" aria-hidden="true"></i> 1.500</span>
                <span class="md-subhead">Ton / CO2</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-lg card-media"><img src="img/carbono-card.jpeg" alt=""></div>
            </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-button>Action 1</md-button>
              <md-button>Action 2</md-button>
            </md-card-actions>
          </md-card>
        </md-content>
      </md-tab>

      <md-tab label="Siembras">
        <md-content class="md-padding">
          <h2><i class="material-icons">&#xE2BD;</i> Árboles Sembrados</h2>
          <chartsiembra></chartsiembra>
          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Árboles Sembrados ::</span>
                <span class="md-subhead">Nombre Compañia</span>
                <span class="arboles-card"><i class="fa fa-pagelines" aria-hidden="true"></i> 2.560</span>
                <span class="md-subhead">Árboles</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-lg card-media"><img src="img/siembra-card.jpeg" alt=""></div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row">
              <md-button class="md-hue-2">Especies Sembradas</md-button>
              <md-button>Action 2</md-button>
            </md-card-actions>
          </md-card>
        </md-content>
      </md-tab>

      <md-tab label="Jornadas Ecológicas">
        <md-content class="md-padding">
          <h2><i class="material-icons">&#xE2BD;</i> Jornadas Ecológicas</h2>
          <div>
            No de Jornadas: 23
          </div>
          <div>
            No de Participantes: 144
          </div>
          <md-button class="md-accent">Galería de Imagenes</md-button>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>