<section ng-controller="ExampleController">
  <section ng-show="!authentication.user">
        <div>
      <md-container layout="row" >
        <div hide-xs layout-margin layout-padding flex="40">
          <img class="iphone" src="iphone.png" />
        </div>
        <md-container layout="column" layout-align="center center" flex>
          <h2 class="sig_subt" layout-align="center center">Conoce tu huella</h2>
          <form  action="/signin" method="post">
            <section layout="column" layout-align="center center">
              <a href="/auth/facebook"><md-button class="md-raised md-primary "><i class="fa fa-facebook-official fa-lg"></i> Iniciar con facebook</md-button></a>
              <a href="/oauth/google"><md-button class="md-raised md-primary boton-box"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i> Iniciar con Google </md-button></a>
            </section>
            <hr>
            <section class="input-box" layout="column">
              <md-input-container >
                <label>Username</label>
                <md-icon md-svg-src="img/face.svg" class="name"></md-icon>
                <input type="text" name="username">
              </md-input-container>
              <md-input-container>
                <label>Password</label>
                <md-icon md-svg-src="img/code.svg" class="name"></md-icon>
                <input type="password" name="password">
              </md-input-container>
              <md-button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Iniciar Sesion</md-button>
            <section>
          </form>
          <div class="login-box">
            ¿No tienes una cuenta? <a href="/signup">Regístrate</a>
          </div>
        </md-container>
      </md-container>
    </div>
  </section>
  <div ng-show="authentication.user" >
  <div>
    <ux></ux>
  </div>
</section>