<toolbar></toolbar>
<section ng-controller="siembrasController">
  <section>
    <md-button ng-model="template">Especies Sembradas</md-button>
    <md-button>Jornadas</md-button>
  </section>
  <select ng-model="template" ng-options="t.name for t in templates">
   <option value="">(blank)</option>
  </select>
  url of the template: <code>{{template.url}}</code>
  <hr/>
  <div >
    <div  ng-include="template.url"></div>
  </div>
  <section ng-controller="chartController">
    <canvas 
      id="line" 
      class="chart chart-bar" 
      chart-data="data" 
      chart-labels="labels" 
      chart-series="series" 
      chart-options="options" 
      chart-dataset-override="datasetOverride" 
      chart-click="onClick">
    </canvas> 
</section>
</section>