<section>
  <toolbar></toolbar>
  <section>
    <section layout-margin layout="row">
      <h2 flex><i class="fa fa-paw" aria-hidden="true"></i> Campañas Ecológicas::</h2>
      <div class="ecojornadas">
        <a href=""><i class="material-icons md-36">&#xE8A3;</i></a><br>
        <span>EcoJornadas</span>
      </div>
    </section>
    <section class="compensa-container" layout="row" layout-xs="column">
      <section class="EcoDesafio-card" layout-margin flex>
        <h2><i class="fa fa-paw" aria-hidden="true"></i> EcoDesafío::</h2>
        <section layout-align="center center" layout="row">
          <div class="usuario-compensa">
              <a  href=""><i class="material-icons md-48">account_circle</i></i></a>
              <p class="compensa-nombre">Andres</p>
              <p class="compensa-ico"><i class="fa fa-envira" aria-hidden="true"></i> 13</p>
            </div>
            <div class="usuario-compensa">
              <a  href=""><i class="material-icons md-48">account_circle</i></i></a>
              <p class="compensa-nombre">Andres</p>
              <p class="compensa-ico"><i class="fa fa-envira" aria-hidden="true"></i> 13</p>
            </div>
            <div class="usuario-compensa">
              <a  href=""><i class="material-icons md-48">account_circle</i></i></a>
              <p class="compensa-nombre">Andres</p>
              <p class="compensa-ico"><i class="fa fa-envira" aria-hidden="true"></i> 13</p>
            </div>
        </section>
        <div>
          <h3>Ahorro de Energia Kw/Hora</h3>
          <h2>120</h2>
        </div>
      </section>
      <section class="compensa-container" layout-margin flex>
        <h2><i class="fa fa-paw" aria-hidden="true"></i> Compensa tu Huella ::</h2>
        <section layout-align="center center" layout="row">
          <div class="usuario-compensa">
            <a  href=""><i class="material-icons md-48">account_circle</i></i></a>
            <p class="compensa-nombre">Andres</p>
            <p class="compensa-ico"><i class="fa fa-pagelines" aria-hidden="true"></i> 23</p>
          </div>
          <div class="usuario-compensa">
            <a  href=""><i class="material-icons md-48">account_circle</i></i></a>
            <p class="compensa-nombre">Tatina</p>
            <p class="compensa-ico"><i class="fa fa-pagelines" aria-hidden="true"></i> 18</p>
          </div>
          <div class="usuario-compensa">
            <a  href=""><i class="material-icons md-48">account_circle</i></i></a>
            <p class="compensa-nombre">Uriel</p>
            <p class="compensa-ico"><i class="fa fa-pagelines" aria-hidden="true"></i> 10</p>
          </div>
          <div class="usuario-compensa">
            <a  href=""><i class="material-icons md-48">account_circle</i></i></a>
            <p class="compensa-nombre">Ligia</p>
            <p class="compensa-ico"><i class="fa fa-pagelines" aria-hidden="true"></i> 2</p>
          </div>
        </section>
        <section class="jornada">
          <md-button class="md-raised md-primary">Conoce Tu Huella</md-button>
          <p>¿Cuántos árboles debo sembrar este año?</p>
        </section>
      </section>
    </section>
  </section>
  <section>
    <md-toolbar ng-controller="huellatoolController">
      <div class="md-toolbar-tools">
        <h1>
          <span><i class="fa fa-paw" aria-hidden="true"></i> Somos Huella Somos Eco</span>
        </h1>
        <span flex></span>
        <md-button class="huella-boton" aria-label="Settings">
          Captura CO2
        </md-button>
        <md-button ng-href="{{url}}" class="huella-boton" aria-label="Favorite">
          Siembras
        </md-button>
      </div>
    </md-toolbar>
    <gestion></gestion>
  </section>
  <section ng-controller="mapController" class="mapa-content">
    <h2 layout-margin><i class="material-icons md-36">add_location</i>Mapa de Siembras</h2>
    <leaflet center="yanaconas" markers="mapMarkers"  defaults="defaults" width="100%" height="480"></leaflet>
  </section>
</section>
<footer layout.margin></footer>